.ZD_Banner > li > span:nth-child(1) {
    display: block;
    width: 30%;
}

.ZD_Banner > li > span:nth-child(2) {
    width: 20%;
}

.ZD_Banner > li > span:nth-child(3) {
    width: 25%;
}

.ZD_Banner > li > span:nth-child(4) {
    width: 10%;
}

.ZD_Banner > li > span:nth-child(5) {
    width: 15%;
}